body {
    font-family: 'Montserrat', sans-serif;
}
@keyframes my-animation {
    from {
        opacity: 0;
        transform: translate(0px,50px) rotate(0deg);
    }
    to {
        opacity: 1;
        transform: translate(0px,0px) rotate(0deg);
    }
}

.run-animation {
    position: relative;
    animation: my-animation 2s ease;
}

.btn {
    color: #fff;
    background-color: #ad3ea7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    letter-spacing: 3px;
    font: 600 16px/19px Montserrat,sans-serif;
    cursor: pointer;
    transition: all .25s;
    margin: 50px auto;
}
.btn:focus{
    box-shadow: none;
}
.btn:hover {
     background-color: #fff;
     border: 2px solid #ad3ea7;
     color: #ad3ea7;
}

h2 {
    font: 700 55px/65px Montserrat,sans-serif;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 100px;
}
h2:before {
    content: '';
    position: absolute;
    top: -20px;
    height: 2px;
    width: 80px;
    background-color: #ad3ea7;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#enroll {
    margin: 200px 0;
}
#enroll .descr {
    margin-top: 28px;
    letter-spacing: .5px;
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
    transition: opacity .5s,-webkit-transform .5s;
    transition: transform .5s,opacity .5s;
    transition: transform .5s,opacity .5s,-webkit-transform .5s;
    transition-delay: .5s;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#enroll .arrow {
    position: relative;
}
#enroll .arrow::after {
    content: url(../img/right-arrow.svg);
    position: absolute;
    top: 40%;
    right: -10%;
}

#benefits {
    margin: 200px 0;
}
#benefits .title{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: .7px;
    color: #ad3ea7;
    margin: 28px 0;
}
#benefits li{
    text-align: left;
    padding-left: 25px;
    font: 400 16px/25px Montserrat,sans-serif;
    letter-spacing: .5px;
    position: relative;
    margin-bottom: 8px;
    transition-delay: .2s;
}
#benefits li:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ad3ea7;
}

#benefits .col-md-4 {
    opacity: 0;
}
#benefits .col-md-4:first-child {
    animation: my-animation 2s linear forwards;
}
#benefits .col-md-4:nth-child(2){
    animation: my-animation 2s linear forwards;
    animation-delay: .5s;
}
#benefits .col-md-4:nth-child(3){
    animation: my-animation 2s linear forwards;
    animation-delay: 1s;
}
@media (max-width: 992px) {
    h2 {
        font: 700 41px/49px Montserrat,sans-serif;
    }
}
@media (max-width: 767px) {
    h2 {
        font: 700 34px/41px Montserrat,sans-serif;
    }
    #enroll .arrow::after {
        display: none;
    }
    #enroll .col-md-4,
    #benefits .col-md-4 {
        margin-bottom: 50px;
    }
}
@media (max-width: 576px) {
    h2 {
        font: 700 28px/34px Montserrat,sans-serif;
    }
    #benefits li, #enroll .descr {
        font: 400 14px/25px Montserrat,sans-serif;
    }
}